:root {
  --bg: #282c34;
  --orange: #ff9843;
  --purple: #8d44bb;
  --dark-blue: #280274;
  --blue1: #3652ad;
  --blue2: #525ceb;
  --light-blue: #61dafb;
  --off-white: #e9f6ff;
  --white: white;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  background-color: var(--bg);
  height: 100%;
}

.App-body {
  height: 93%;
  color: white;
  overflow-y: auto;
}

.body-main-center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  margin: auto;
}

.body-main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
  margin: auto;
}

.App-link {
  color: var(--light-blue);
}

.caption {
  display: block;
  font-weight: 700;
  font-size: 15pt;
  color: var(--orange);
}

.figure {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.highlight-text:hover {
  color: var(--orange);
}

.navbar {
  height: 7%;
  background-color: var(--blue2);
}

.rotate {
  vertical-align:top;
	transform:rotate(7deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
}

.sidebar {
  position: fixed;
  top: 50%;
}

.sidebar-btn {
  border-color: var(--blue2) !important;
  color: var(--blue2) !important;
}

.sidebar-item:hover {
  background-color: var(--orange);
}

.stackedNavbar {
  width: 10%;
  height: 80%;
  border-style: solid;
  border-color: var(--blue2);
  border-radius: 5px;
  border-width: 1px;
  position: fixed;
  left: 87%;
  bottom: 5%;
}

.stackedNavbar-item {
  font-size: 10pt !important;
}

.stackedNavbar-btn:hover {
  color: var(--orange);
}